<<<<<<< HEAD

body { 
	font: 12px Arial;
}


path { 
	stroke: white;
	stroke-width: 2;
	fill: none;
}


.tick line{
	opacity: 0.6 !important;
	stroke-width: 2 !important;
}

.axis path,
.axis line {
	fill: none;
	stroke: white;
	stroke-width: 1;
	opacity: 00;
	shape-rendering: crispEdges;
}

.axis{
	fill: #969696;
}

.title{
	fill:white;
}

.graphS {
	min-height:30vh !important;    
}

.graphL {
	min-height:50vh !important;    
}

.area {
  fill: url(#temperature-gradient);
  stroke-width: 0px;
}
=======



path {
	stroke: white;
	stroke-width: 3;
	fill: none;
}


.tick line{
	opacity: 0.2;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.axis{
	fill: #eaeaea;
}

.title{
	fill:white;
}

.graphS {
	min-height:30vh !important;
	font-size: 8px;
	margin-bottom: -10vh;
}

.graphL {
	min-height:50vh !important;
}

.area {
  fill: url(#temperature-gradient);
  stroke-width: 0px;
}
>>>>>>> develop
